<h1><%= scope.item.name %></h1>
<span class="trip-details">
    <span class="trip-locations"><%= scope.item.locations %></span>
    <span class="trip-date"><%= scope.item.startDate %></span> - <span class="trip-date"><%= scope.item.endDate %></span>
</span>
